# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
static/

# Django REST framework
*.coverage
nosetests.xml
coverage.xml
*.hypothesis/
*.tox/
*.nox/
*.coverage
.coverage.*

# Virtual Environment
.venv/
venv/
env/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# Operating System Files
.DS_Store
Thumbs.db
